/* footer {
    display: flex;
}

div {
    border: 2px solid blue;
    flex: 1;
}

.annat-flexvarde {
    flex: 20000;
} */

/* ny version */

footer {
    display: flex;
}

div {
    border: 2px solid blue;
}

.forsta-tredjedelen {
    flex: 1;
}

.andra-tredjedelen {
    flex: 1;
}

.tredje-tredjedelen {
    flex: 1;
}