/* footer {
    display: flex;
}

div {
    border: 2px solid blue;
    flex: 1;
}

.annat-flexvarde {
    flex: 20000;
} */

/* ny version */

footer {
    display: flex;
    background-color: grey;
}

/* div {
    border: 2px solid blue;
} */

.forsta-tredjedelen {
    flex: 1;
    display: flex;
}

.andra-tredjedelen {
    flex: 1;
    justify-content: center;
    display: flex;
}

.tredje-tredjedelen {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.forsta-tredjedelen div {
    margin: 15px;
}

.andra-tredjedelen div {
    margin: 15px;
}

.tredje-tredjedelen div {
    margin: 15px;
}